h1 {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding-left: 400px;
    

}
div{
    background-color: rgba(5, 239, 239, 0.648);

}
#z{
    margin-left: 550px;
    display: inline;
}
#y{
    background-color: black;
    margin-top: 20px;
    display: inline;
  
}
#b{
    padding-left: 150px;
    text-decoration: none;
    font-size: x-large;
    color: aliceblue;
    
}
#c{
    padding-left: 160px;
    text-decoration: none;
    font-size: x-large;
    color: aliceblue;
}
#d{
    padding-left: 170px;
    text-decoration: none;
    font-size: x-large;
    color: aliceblue;
}
#e{
    padding-left: 225px;
    text-decoration: none;
    font-size: x-large;
    color: aliceblue;
}
#f{
    margin-bottom: 150px;
}